* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

::selection {
  background-color: #15d600;
  color: #fff; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  display: block;
  text-transform: uppercase; }
  .heading-primary--main {
    font-size: 6.5rem;
    font-weight: 300;
    letter-spacing: .5rem;
    line-height: 1.2;
    padding-bottom: 1.2rem; }
  .heading-primary--sub {
    font-size: 2.5rem;
    letter-spacing: .2rem;
    border-top: 1px solid #333;
    padding-top: 1rem;
    margin-bottom: 5rem; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .3rem;
  background-image: linear-gradient(135deg, rgba(179, 255, 171, 0.8), rgba(18, 255, 247, 0.8));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.heading-tertiary {
  display: block;
  text-transform: uppercase; }
  .heading-tertiary--main {
    font-size: 3.9rem;
    font-weight: 300;
    letter-spacing: .3rem;
    line-height: 1.2;
    padding-bottom: 1.2rem; }
  .heading-tertiary--sub {
    font-size: 2.4rem;
    letter-spacing: .2rem;
    border-top: 1px solid #333;
    padding-top: 1rem;
    margin-bottom: 5rem; }

.paragraph {
  font-size: 1.8rem;
  width: 70%;
  margin: 0 auto; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }
  .paragraph span {
    font-size: 2.3rem;
    color: #15d600;
    font-weight: 700; }

.shape-text {
  display: block;
  text-align: center;
  text-transform: uppercase; }
  .shape-text:first-child {
    margin-top: 3rem; }
  .shape-text--main {
    font-size: 1.8rem;
    letter-spacing: .2rem; }
  .shape-text--sub {
    font-size: 1.4rem;
    border-top: 1px solid #333;
    padding-top: 1.2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-img-shape {
  overflow: hidden;
  margin: 0 auto;
  outline: 0.5rem solid #15d600;
  outline-offset: 1rem;
  transition: all .2s; }
  .u-img-shape:hover {
    outline: 0.7rem solid #15d600; }
    .u-img-shape:hover .about-img {
      transform: rotate(-45deg) translate(2rem, -22rem) scale(1.1); }
  .u-img-shape--1 {
    height: 32rem;
    width: 32rem;
    transform: rotate(45deg) scale(1) translate(-2rem, -2rem); }
  .u-img-shape--2 {
    height: 25rem;
    width: 25rem;
    transform: rotate(45deg) scale(1) translate(10rem, 1rem); }
  .u-img-shape--3 {
    height: 20rem;
    width: 20rem;
    transform: rotate(45deg) scale(1) translate(-17rem, 11.5rem); }
  .u-img-shape__text-box--2 {
    height: 29.5rem;
    width: 29.5rem;
    transform: rotate(-45deg);
    overflow: hidden; }
  .u-img-shape__text-box--3 {
    height: 22rem;
    width: 22rem;
    transform: rotate(-45deg);
    overflow: hidden; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  letter-spacing: .2rem;
  border-bottom: 1px solid transparent;
  padding: 1px 0;
  transition: all .2s; }

.btn:hover {
  color: #15d600 !important;
  border-bottom: 1px solid #15d600;
  transform: scale(1.1) translateY(-2px); }

.btn:active {
  transform: translateY(1px); }

.btn--big {
  font-size: 2.5rem;
  border-bottom: 1px solid #333; }

.btn--small {
  font-size: 1.5rem;
  color: #aaa !important;
  border-bottom: 1px solid #aaa; }

.btn--form {
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  padding: .5rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.header {
  height: 80vh;
  background-image: linear-gradient(135deg, #fff 0%, #fff 30%, rgba(179, 255, 171, 0.8) 30%, rgba(18, 255, 247, 0.8) 100%), url(../img/hero.jpg);
  background-size: cover;
  position: relative; }
  .header__text-box-out {
    position: absolute;
    height: 40rem;
    width: 40rem;
    left: 15%;
    top: 15%;
    background-color: #fff;
    transform: rotate(45deg);
    text-align: center; }
  .header__text-box-in {
    position: absolute;
    height: 40rem;
    width: 40rem;
    left: 0;
    top: 0;
    transform: rotate(-45deg);
    padding-top: 2rem; }
  .header__btn-list {
    list-style: none; }
  .header__btn-list-item:not(:last-child) {
    margin-bottom: 1.5rem; }

.section-about {
  padding: 10rem 0; }

.about-img {
  width: 170%;
  transform: rotate(-45deg) translate(2rem, -22rem);
  transition: all .4s; }

.section-portfolio {
  padding: 10rem 0; }

.portfolio {
  position: relative; }
  .portfolio__project {
    width: 60%;
    margin: 0 auto;
    position: relative; }
    .portfolio__project:hover .portfolio__img {
      filter: blur(3px) brightness(70%); }
    .portfolio__project:hover .portfolio__caption {
      opacity: 1; }
  .portfolio__img {
    width: 100%;
    transition: all .3s; }
  .portfolio__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    color: #fff;
    opacity: 0;
    transition: all .3s; }
  .portfolio__arrow {
    transition: all 0.2s; }
    .portfolio__arrow--left {
      position: absolute;
      top: 50%;
      left: 8rem;
      height: 10rem;
      width: 10rem;
      border-bottom: 1rem solid #15d600;
      border-left: 1rem solid #15d600;
      transform: translateY(-50%) rotate(45deg); }
    .portfolio__arrow--right {
      position: absolute;
      top: 50%;
      right: 8rem;
      height: 10rem;
      width: 10rem;
      border-top: 1rem solid #15d600;
      border-right: 1rem solid #15d600;
      transform: translateY(-50%) rotate(45deg); }
    .portfolio__arrow:hover {
      transform: translateY(-50%) rotate(45deg) scale(1.2); }

.active {
  display: block; }

.unactive {
  display: none; }

.contact {
  position: relative;
  background-image: linear-gradient(45deg, rgba(18, 255, 247, 0.8) 0%, rgba(179, 255, 171, 0.8) 70%, #fff 70%, #fff 100%), url(../img/hero.jpg);
  background-size: 100%; }
  .contact__form {
    width: 50%;
    padding: 6rem; }
  .contact__text-box-out {
    position: absolute;
    height: 40rem;
    width: 40rem;
    right: 15%;
    top: 15%;
    background-color: #fff;
    transform: rotate(45deg);
    text-align: center; }
  .contact__text-box-in {
    position: absolute;
    height: 40rem;
    width: 40rem;
    right: 0;
    top: 0;
    transform: rotate(-45deg);
    padding-top: 2rem; }
  .contact__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.7rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  width: 80%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #15d600; }

.footer {
  background-color: #333;
  padding: 8rem 0;
  font-size: 1.4rem; }
  .footer__navigation {
    display: inline-block;
    margin-left: 8rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: all .2s; }
  .footer__link:hover {
    color: #15d600 !important;
    border-bottom: 1px solid #15d600;
    transform: scale(1.1) translateY(-2px); }
  .footer__link:active {
    transform: translateY(1px); }
  .footer__copyright {
    color: #eee;
    float: right;
    display: block;
    margin-right: 8rem; }

.row {
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 8rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 8rem) / 3) * 2 + 8rem); }
  .row .col-2-of-4 {
    width: calc((100% - 3 * 8rem) / 2 + 8rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 8rem) / 4) * 3 + 2 * 8rem); }
