* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 75em) {
    body {
      padding: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 1rem; } }

::selection {
  background-color: #15d600;
  color: #fff; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  display: block;
  text-transform: uppercase; }
  .heading-primary--main {
    font-size: 6.5rem;
    font-weight: 300;
    letter-spacing: .5rem;
    line-height: 1.2;
    padding-bottom: 1.2rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 8.5rem;
        letter-spacing: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 4.5rem;
        letter-spacing: .4rem; } }
  .heading-primary--sub {
    font-size: 2.5rem;
    letter-spacing: .2rem;
    border-top: 1px solid #333;
    padding-top: 1rem;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 3.8rem;
        margin-bottom: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 2.2rem;
        letter-spacing: .1rem;
        margin-bottom: 3rem; } }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .3rem;
  background-image: linear-gradient(135deg, rgba(179, 255, 171, 0.8), rgba(18, 255, 247, 0.8));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.heading-tertiary {
  display: block;
  text-transform: uppercase; }
  .heading-tertiary--main {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .3rem;
    line-height: 1.2;
    padding-bottom: 1.2rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-tertiary--main {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-tertiary--main {
        font-size: 2.5rem; } }
  .heading-tertiary--sub {
    font-size: 2.4rem;
    letter-spacing: .2rem;
    border-top: 1px solid #333;
    padding-top: 1rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-tertiary--sub {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-tertiary--sub {
        font-size: 1.8rem; } }

.paragraph {
  font-size: 1.8rem;
  width: 70%;
  margin: 0 auto; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }
  .paragraph span {
    font-size: 2rem;
    color: #15d600;
    font-weight: 700; }
  @media only screen and (max-width: 75em) {
    .paragraph {
      width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      width: 90%; } }

.shape-text {
  display: block;
  text-align: center;
  text-transform: uppercase; }
  .shape-text:first-child {
    margin-top: 3rem; }
  .shape-text--main {
    font-size: 1.8rem;
    letter-spacing: .2rem; }
  .shape-text--sub {
    font-size: 1.4rem;
    border-top: 1px solid #333;
    padding-top: 1.2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-img-shape {
  overflow: hidden;
  outline: 0.5rem solid rgba(21, 214, 0, 0.3);
  outline-offset: 1rem;
  background-color: #fff;
  transition: all .2s; }
  .u-img-shape:hover {
    outline: 0.7rem solid rgba(21, 214, 0, 0.4); }
    .u-img-shape:hover .about-img {
      transform: rotate(-45deg) translate(7%, -60%) scale(1.1); }
      @media only screen and (max-width: 37.5em) {
        .u-img-shape:hover .about-img {
          transform: rotate(0) translate(-25%, -30%) scale(1.1); } }
  .u-img-shape--1 {
    margin-top: 10rem;
    width: 23rem;
    height: 23rem;
    transform: rotate(45deg) scale(1); }
    @media only screen and (max-width: 56.25em) {
      .u-img-shape--1 {
        margin: 10rem auto 0 auto; } }
    @media only screen and (max-width: 37.5em) {
      .u-img-shape--1 {
        transform: rotate(0) scale(1);
        margin: 10rem auto 0 auto; } }
  .u-img-shape--2 {
    margin-left: auto;
    width: 24rem;
    height: 24rem;
    transform: rotate(45deg) scale(1); }
    @media only screen and (max-width: 56.25em) {
      .u-img-shape--2 {
        margin: 10rem auto 10rem auto; } }
    @media only screen and (max-width: 37.5em) {
      .u-img-shape--2 {
        transform: rotate(0) scale(1);
        width: 30rem;
        height: 18rem;
        margin: 0 auto 10rem auto; } }
  .u-img-shape--3 {
    height: 20rem;
    width: 20rem;
    margin-top: -5rem;
    transform: rotate(45deg) scale(1); }
    @media only screen and (max-width: 56.25em) {
      .u-img-shape--3 {
        margin: 10rem auto 0 auto; } }
    @media only screen and (max-width: 37.5em) {
      .u-img-shape--3 {
        transform: rotate(0) scale(1);
        width: 30rem;
        height: 15rem; } }
  .u-img-shape__text-box--2 {
    position: absolute;
    height: 26rem;
    width: 26rem;
    transform: rotate(-45deg);
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .u-img-shape__text-box--2 {
        transform: rotate(0) scale(1);
        width: 30rem; } }
  .u-img-shape__text-box--3 {
    height: 24rem;
    width: 24rem;
    transform: rotate(-45deg);
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .u-img-shape__text-box--3 {
        transform: rotate(0) scale(1);
        width: 30rem; } }

@media only screen and (max-width: 56.25em) {
  .display-over-900 {
    display: none !important; } }

.display-under-900 {
  display: none !important; }
  @media only screen and (max-width: 56.25em) {
    .display-under-900 {
      display: block !important; } }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  letter-spacing: .2rem;
  border-bottom: 1px solid transparent;
  padding: 1px 0;
  transition: all .2s; }

.btn:hover {
  color: #15d600 !important;
  border-bottom: 1px solid #15d600;
  transform: scale(1.05) translateY(-2px); }

.btn:active {
  transform: translateY(1px); }

.btn--big {
  font-size: 2.5rem;
  border-bottom: 1px solid #333; }

.btn--small {
  font-size: 1.5rem;
  color: #aaa !important;
  border-bottom: 1px solid #aaa; }

.btn--portfolio:link, .btn--portfolio:visited {
  color: #fff;
  margin-top: 2rem; }

.btn--form {
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  padding: .5rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none; }

.hidden {
  opacity: 0; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.move-in-left {
  animation-name: moveInLeft;
  animation-duration: 1.5s; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(45deg); }
  80% {
    transform: translateX(1rem) rotate(45deg); }
  100% {
    opacity: 1;
    transform: translate(0) rotate(45deg); } }

.move-in-right {
  animation-name: moveInRight;
  animation-duration: 1.5s; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem) rotate(45deg); }
  80% {
    transform: translateX(-1rem) rotate(45deg); }
  100% {
    opacity: 1;
    transform: translate(0) rotate(45deg); } }

.move-in-left-phone {
  animation-name: moveInLeftPhone;
  animation-duration: 1.5s; }

@keyframes moveInLeftPhone {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.move-in-right-phone {
  animation-name: moveInRightPhone;
  animation-duration: 1.5s; }

@keyframes moveInRightPhone {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.header {
  height: 80rem;
  background-image: linear-gradient(135deg, #fff 0%, #fff 30%, rgba(179, 255, 171, 0.8) 30%, rgba(18, 255, 247, 0.8) 100%), url(../img/hero-min.jpg);
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .header {
      background-image: linear-gradient(135deg, rgba(179, 255, 171, 0.8) 0%, rgba(18, 255, 247, 0.8) 100%), url(../img/hero-min.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 60vh; } }
  .header__text-box-out {
    position: absolute;
    height: 40rem;
    width: 40rem;
    left: 15%;
    top: 15%;
    background-color: #fff;
    transform: rotate(45deg);
    text-align: center;
    overflow: hidden; }
    @media only screen and (max-width: 56.25em) {
      .header__text-box-out {
        height: 55rem;
        width: 55rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg); } }
    @media only screen and (max-width: 37.5em) {
      .header__text-box-out {
        height: 32rem;
        width: 32rem; } }
  .header__text-box-in {
    position: absolute;
    height: 40rem;
    width: 40rem;
    left: 0;
    top: 0;
    transform: rotate(-45deg);
    padding-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .header__text-box-in {
        height: 55rem;
        width: 55rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__text-box-in {
        height: 32rem;
        width: 32rem; } }
  .header__btn-list {
    list-style: none; }
  .header__btn-list-item:not(:last-child) {
    margin-bottom: 1.5rem; }

.section-about {
  padding: 10rem 0; }

.about-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 155%;
  transform: rotate(-45deg) translate(7%, -60%);
  transition: all .4s; }
  @media only screen and (max-width: 37.5em) {
    .about-img {
      top: 0;
      left: 0;
      transform: rotate(0) translate(-25%, -30%); } }

.section-skills {
  padding: 10rem 0;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .section-skills {
      width: 90%; } }
  @media only screen and (max-width: 56.25em) {
    .section-skills {
      width: 100%;
      padding-bottom: 5rem; } }

.skills__set {
  margin-bottom: 0; }
  @media only screen and (max-width: 56.25em) {
    .skills__set {
      margin-bottom: 5rem; } }

.skills__list {
  list-style: none;
  letter-spacing: .1rem;
  font-size: 1.8rem; }
  @media only screen and (max-width: 56.25em) {
    .skills__list {
      text-align: center; } }

.skills__item {
  margin-top: 1.5rem; }
  .skills__item span {
    color: rgba(21, 214, 0, 0.6);
    padding-right: 1rem; }

.section-portfolio {
  padding: 10rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-portfolio {
      padding-top: 0; } }

.portfolio {
  position: relative; }
  .portfolio__project {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
    .portfolio__project:hover .portfolio__img {
      filter: blur(3px) brightness(70%); }
    .portfolio__project:hover .portfolio__caption {
      visibility: visible;
      opacity: 1; }
    @media only screen and (max-width: 56.25em) {
      .portfolio__project {
        width: 80%; } }
  .portfolio__img {
    width: 100%;
    transition: all .3s; }
  .portfolio__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    @media only screen and (max-width: 37.5em) {
      .portfolio__caption p {
        display: none; } }
    @media only screen and (max-width: 37.5em) {
      .portfolio__caption a.btn--portfolio {
        margin: 0; } }
  .portfolio__arrow {
    transition: all 0.2s; }
    .portfolio__arrow--left {
      position: absolute;
      top: 50%;
      left: 10%;
      height: 5rem;
      width: 5rem;
      border-bottom: 0.5rem solid #15d600;
      border-left: 0.5rem solid #15d600;
      transform: translateY(-50%) rotate(45deg); }
      @media only screen and (max-width: 56.25em) {
        .portfolio__arrow--left {
          left: 5%;
          height: 4rem;
          width: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .portfolio__arrow--left {
          left: 3%;
          height: 3rem;
          width: 3rem; } }
    .portfolio__arrow--right {
      position: absolute;
      top: 50%;
      right: 10%;
      height: 5rem;
      width: 5rem;
      border-top: 0.5rem solid #15d600;
      border-right: 0.5rem solid #15d600;
      transform: translateY(-50%) rotate(45deg); }
      @media only screen and (max-width: 56.25em) {
        .portfolio__arrow--right {
          right: 5%;
          height: 4rem;
          width: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .portfolio__arrow--right {
          right: 3%;
          height: 3rem;
          width: 3rem; } }
    .portfolio__arrow:hover {
      transform: translateY(-50%) rotate(45deg) scale(1.2); }

.active {
  display: block; }

.unactive {
  display: none; }

.section-contact {
  padding-bottom: 2rem; }

.contact {
  position: relative;
  height: 60rem;
  background-image: linear-gradient(45deg, rgba(18, 255, 247, 0.8) 0%, rgba(179, 255, 171, 0.8) 70%, #fff 70%, #fff 100%), url(../img/hero-min.jpg);
  background-size: cover; }
  @media only screen and (max-width: 75em) {
    .contact {
      height: 55rem; } }
  @media only screen and (max-width: 56.25em) {
    .contact {
      height: 40rem;
      background-image: linear-gradient(45deg, rgba(18, 255, 247, 0.8) 0%, rgba(179, 255, 171, 0.8) 100%), url(../img/hero-min.jpg); } }
  .contact__text-box-out {
    position: absolute;
    height: 40rem;
    width: 40rem;
    right: 10%;
    top: 15%;
    background-color: #fff;
    transform: rotate(45deg);
    text-align: center;
    z-index: 50;
    margin: 0;
    overflow: hidden; }
    @media only screen and (max-width: 75em) {
      .contact__text-box-out {
        height: 35rem;
        width: 35rem; } }
    @media only screen and (max-width: 56.25em) {
      .contact__text-box-out {
        left: 50%;
        top: 30%;
        transform: translateX(-50%) rotate(45deg); } }
    @media only screen and (max-width: 37.5em) {
      .contact__text-box-out {
        height: 30rem;
        top: 35%;
        width: 30rem; } }
  .contact__text-box-in {
    position: absolute;
    height: 40rem;
    width: 40rem;
    right: 0;
    top: 0;
    transform: rotate(-45deg);
    padding-top: 2rem; }
    @media only screen and (max-width: 75em) {
      .contact__text-box-in {
        height: 35rem;
        width: 35rem; } }
    @media only screen and (max-width: 37.5em) {
      .contact__text-box-in {
        height: 30rem;
        width: 30rem; } }
  .contact__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.footer {
  padding: 6rem 0;
  font-size: 1.4rem;
  z-index: 100;
  background-image: linear-gradient(45deg, rgba(18, 255, 247, 0.8) 0%, rgba(179, 255, 171, 0.8) 100%); }
  @media only screen and (max-width: 56.25em) {
    .footer {
      margin-top: 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      margin-top: 5rem; } }
  .footer__navigation {
    display: inline-block;
    margin-left: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        margin: 0 auto;
        display: block;
        width: 90%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: all .2s;
    color: inherit; }
  .footer__link:hover {
    color: #fff !important;
    border-bottom: 1px solid #fff;
    transform: scale(1.1) translateY(-2px); }
  .footer__link:active {
    transform: translateY(1px); }
  .footer__copyright {
    float: right;
    display: block;
    margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        float: none;
        margin-right: 0;
        margin-top: 2rem;
        text-align: center; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 12rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3%; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        float: none;
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 3%) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3%) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3%) / 4); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 3%) / 3) * 2 + 3%); }
  .row .col-2-of-4 {
    width: calc((100% - 3 * 3%) / 2 + 3%); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 3%) / 4) * 3 + 2 * 3%); }
